name: Install Git Hooks

on:
  push:
    branches:
      - develop 
  pull_request:
    branches:
      - develop 

jobs:
  install-hooks:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        ref: develop  # Fazer o checkout na branch 'develop'

    - name: Install Hooks
      run: |
        mkdir -p .git/hooks
        cp .github/hooks/commit-msg .git/hooks/
        chmod +x .git/hooks/commit-msg